.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='white' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Custom white SVG icon */
}

.navbar-toggler-div {
    padding: 10px;
    border-radius: 10px;
}

.navbar-toggler-div:hover {
    background-color: #04AA6D;
}

.navbar-toggler {
    border: none;
    padding: 0px;
}

.navbar-toggler:focus {
    outline: none; /* Remove outline on focus */
    box-shadow: none; /* Remove box shadow on focus */
}

body {
    padding-top: 40px;
    background-color: #ccc;
}

main ul {
    margin-top: 0px;
}

#hero {
    width: 100vw;
    height: 100vh;
    background-color: #333;
}

#hero .card {
    background-color: #333;
    border: none;
    color: white;

    max-width: 75%;
    max-height: 75%;
    margin: auto;
}

.sub-page {
    padding: 60px 20px;
    margin: 20px;
    border-radius: 10px;
    color: black;
    background-color: white;
    min-height: 100vh;
}

.sub-page .indented {
    text-indent: 1em;
}

nav.navbar {
    background-color: #333;
    padding: 0px;
    margin-left: 0px;
}

nav.navbar > .container-fluid {
    margin: 0px;
}

nav.navbar .nav-item > .nav-link {
    color: white;
    padding: 15px;
}

nav.navbar .nav-item:hover {
    background-color: #04AA6D;
}

.btn.btn-primary {
    background-color: #333;
    border: none;
    color: white;
}

.btn.btn-primary:hover {
    background-color: #04AA6D;
}

.grow-on-hover {
    transition: transform 0.3s ease;
}

.grow-on-hover:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
}